<body>
  <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>

  <style media="screen">
    .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
  </style>

    <iframe src="https://embed.spotify.com/user/kooder18/playlist/0nf4CGfqbZ86ilyO9sJNSG" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

    <script>
      //d3.select("iframe").remove()
    </script>


</body>


<!--https://play.spotify.com/user/kooder18/playlist/0nf4CGfqbZ86ilyO9sJNSG
