<body>
  <h1>I will now show you music based off your emotions</h1>

    <iframe src="https://embed.spotify.com/user/kooder18/playlist/0nf4CGfqbZ86ilyO9sJNSG" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>


<script src="http://localhost:3001/app_web_pack_bundle.js"></script>  
</body>


<!--https://play.spotify.com/user/kooder18/playlist/0nf4CGfqbZ86ilyO9sJNSG
